body,
.search-component .enter-city,
.search-component .button:hover {
  background-color: #e4f1fe;
  font-family: "Lora", serif;
}

.search-component {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.container {
  background-color: white;
  display: block;
  text-align: center;
  margin: 80px auto 40px auto;
  box-shadow: 0px 30px 50px rgba(53, 41, 82, 0.08);
  padding: 30px;
  border-radius: 10px;
  width: 550px;
  height: 500px;
}

.temp .degree {
  font-size: 20px;
  position: relative;
  top: -26px;
}

.temp .emoji {
  width: 88px;
  height: 88px;
  position: relative;
  top: 50px;
  right: 80px;
}

.without-emoji {
  position: relative;
  top: -40px;
}

.current-weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: -10px;
}

.search-component .button {
  padding: 10px 15px;
  color: white;
  background-color: #007cb9;
  font-family: "Lora", serif;
  border: #007cb9;
  border-radius: 3px;
  transition: all 150ms ease-in-out;
}

.search-component .button:hover {
  cursor: pointer;
  color: #007cb9;
}

.search-component .enter-city {
  width: 400px;
  height: 26px;
  border: #e4f1fe;
  border-radius: 3px;
  padding: 5px 5px 5px 10px;
  margin: 3px;
}

.temp {
  color: black;
  font-size: 56px;
}

.update-temp {
  color: blue;
}

.main-paragraph,
footer {
  color: #7f8389;
}

.weather-forecast {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.weather-forecast-date {
  color: #7f8389;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.weather-forecast-icon {
  font-size: 38px;
  display: flex;
  justify-content: space-around;
}

.weather-forecast-temperatures {
  color: blue;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temp-high,
.weather-forecast-temp-low {
  padding: 0 10px;
}

footer {
  font-size: 14px;
  position: relative;
  bottom: -60px;
  text-align: center;
  border-top: 1px solid #f9f7fe;
  padding: 3px 0 0 0;
}
